// background sizing & background image
body {
    background: url("../../docs/images/aboutbkgrd.jpg");
    background-repeat: repeat;
    background-size: 100vw auto;
    height: 100vh;
}
// content inside main (paragraph)
.aboutMe {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(246, 236, 222);
    text-align: center;
    text-shadow: 2px 2px 5px black;
    padding: 10px 10px;
    font-size: 20px;
    
    a {
    display: flex;
    justify-content: center;
    }

    
}

// Icon sizing 
.logos {
    display: flex;
    justify-content: space-evenly;

    img {
        height: 150px;
        width: 300px;

    }
}
// screen adjusting
@media screen and (max-aspect-ratio: 6496/4331) {
    body {
        background-size: auto 100vh;
    }
}


