@import './colors';

header {
  nav {
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0);

    ul {
      display: flex;
      justify-content: space-between;
      font-size: 27px;

      li {
        display: inline-block;

        a {
          padding: 0rem;
          color: $orange;
          text-decoration: none;
          border: 13px transparent solid;
          transition: border-color 0.5s;

          &:hover {
            border-color: $orange;
          }

          &.current {
            border-color: $lightOrange;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  header nav ul {
    font-size: 15px;
  }
}